* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg-main);
}

nav {
    padding: 10px;
    background-color: var(--clr-nav);
    display: flex;
    justify-content: space-between;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--clr-nav-links);
    font-size: 1.5rem;
    /* color: var(--clr-bg-main); */
}

header img {
    height: 25rem;
    width: 100%;
    position: relative;
}

h1 {
    position: absolute;
    margin-bottom: 5rem;
}